#main {
    display: grid;
    grid-template-rows: 48px minmax(0, 1fr);
    overflow: hidden;
}

.toolbar {
    grid-row: 1 / 2;
    background: #e0e0e0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.toolbar > #allController {
    height: 100%;
    display: flex;
    gap: 4px;
    align-items: center;
}

.toolbar > #allController button {
    height: 60%;
    aspect-ratio: 1;
    background: transparent;
    border: 0;
}

.toolbar > #allController button svg {
    fill: #3e3e3e;
}

.ytplayers-container {
    padding: 16px;
    grid-row: 2 / 3;
    overflow-y: scroll;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.ytplayers-container::-webkit-scrollbar{
    display: none;
}

.ytplayers-container::-webkit-scrollbar-track {
    width: 0;
}

.ytplayer-outer {
    display: flex;
    flex-direction: column;
    position: relative;
}

.ytplayer-container {
    padding: 24px;
    box-sizing: border-box;
    background: #e0e0e0;
    border-radius: 16px;
}
.ytplayer-container.main-player {
    width: calc((100% - 32px) * 0.6);
    position: fixed;
    /* left: 30%;
    transform: translateX(-50%); */
}
.ytplayer-container:not(.main-player) {
    width: 38%;
    margin-left: 62%;
}

.subplayer-header {
    width: 100%;
    height: 24px;
    display: flex;
    justify-content: end;
}

.player-switcher {
    height: 100%;
    aspect-ratio: 1;
    background: transparent;
    border: 0;
}

.player-switcher svg {
    fill: #3e3e3e;
}

.ytplayer-container.main-player .subplayer-header {
    display: none;
}

.video-outer {
    width: 100%;
    aspect-ratio: calc(16 / 9);
    display: flex;
    justify-content: end;
    align-items: center;
}
iframe {
    width: 100%;
    height: 100%;
    margin-top: auto;
}

.ytplayer-controller {
    width: 100%;
    height: 28px;
    padding: 2px;
    background: #608a9f;
    display: flex;
    justify-content: center;
    align-items: center;
}

.play-controller {
    height: 100%;
    display: flex;
    gap: 4px;
}
.play-controller > button {
    height: 100%;
    aspect-ratio: 1;
    background: transparent;
    border: 0;
}

.play-controller > button svg {
    fill: #e0e0e0;
}
